.wrapper-top-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(auto,auto);
    justify-items: stretch;
    align-items: stretch;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.section-a{

    justify-self: start;
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 2.0em;
}
.clock{
    font-family: OptimaLTStd-Bold;
    font-size: 50%;
}

.section-b{
    font-family: PxGrotesk-Bold;
    justify-self: start;
    font-size: 3.5em;
}

.section-c  {
    font-family: Linotype-OptimaLTStd;
    justify-self: start;
    align-self: start;
    font-size: .9em;
}
.bold{
    font-family: OptimaLTStd-Bold;
}

.nested{
    font-family: PxGrotesk-Light;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto,auto);
    grid-gap: .5em;
    justify-items: stretch;
    align-items: stretch;
    font-size: .8em;
}

.nested > div{
    padding-top: .5em;
    justify-self: start;
    align-self: start;
}
hr{
    min-width: 90px;
    opacity: .2;
}
.hr2{
    margin-top: .5em;
    max-width: 90px;
}
.section-d{
    font-family: PxGrotesk-Light;
    margin-top: 1.5em;
    justify-self: start;
    align-self: start;
    font-size: .9em;
}
.section-d-2{
    font-family: OptimaLTStd-Bold;
    margin-top: .5em;
    justify-self: start;
    align-self: start;
    font-size: .9em;
}
.info{
    margin-left: .5em;
}
.edit{
    margin-left: 1em;
}
.btn{
    width: 100%;
    margin-top: 2em;
}
.btn1{
    font-family: PxGrotesk-Light;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid gray;
    opacity: .5; 
}