.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto,auto);
    grid-gap: .5em;
    justify-items: stretch;
    align-items: stretch;
    font-size: .9em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    border-top:1px solid rgba(128, 128, 128, 0.158);
    font-family: PxGrotesk-Light;
}
.profile-img{
    width: 150%;
}
.power-img{
    width: 150%;
}
.footer-a{
    margin-top: 1em;
    justify-self: start;
    align-self: start;
}
.footer-b{
    margin-top: 1em;
    justify-self: center;
    align-self: start;
    text-align: center;
}
.hr3{
    margin-top: 1em;
    width: 90px;
    color: black;
    background-color: black;
    height: 4px;
    border-color: black;
}
.footer-c{
    margin-top: 1em;
    justify-self: end;
    align-self: start;
    margin-right: 1em;
}