.wrapper{
    display: grid;
    grid-template-columns: auto 50px;
    grid-auto-rows: minmax(75px,auto);
    justify-items: center;
    align-items: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    position: relative;
}
.header-img{
    display: grid;
    margin-top: 1em;
    align-self: start;
    justify-self: center;
    position: absolute;
}
.h-img{
    width: 60px;
}
.nav{
    margin-top: 1em;
    margin-right: .5em;
    justify-self: end;
    align-self: start;
    position: absolute;
}
